aws_region                = "us-west-2"
jenkins_admin_username    = "admin"
jenkins_admin_password    = "change-me"
argocd_repo_url           = "https://github.com/ValeriiaSeliverstova/DevOps-CI-CD-gitops.git"
argocd_repo_path          = "helm/django-chart"
argocd_target_revision    = "main"
argocd_destination_namespace = "django-app"
argocd_repositories = [
  {
    name = "gitops"
    url  = "https://github.com/ValeriiaSeliverstova/DevOps-CI-CD-gitops.git"
    type = "git"
  }
]
